/* 
    Document   : web
    Created on : Jul 22, 2012, 12:12:02 PM
    Author     : Rolf
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background: #101907;
    color: white;
}

a {
    color: #FF8000;
    text-decoration: none;
}

a:hover {
    color: #F7D358;
}

a.home {
    color: white;
    text-decoration: none;
}

div.route {
    font-size: 1.2em;
}

a.swap {
    font-size: 0.8em;
}

div.spacer {
    height: 1em;
    width: 1em;
}

.alert {
    color: red !important;
}

.scamAlert {
    color: red;
}

div.order {
    margin-left: 1em;
    font-size: 0.8em;
    margin-bottom: 1em;
    background: #0A2A0A;
    display: inline-block;
}

div.order div.station {
    color: green;
    display: inline-block;
    margin-right: 1em;
}

div.order div.details div {
    color: green;
    display: inline-block;
    margin-right: 1em;
}

div.order div.details div.profit div {
    color: #FFFF00;
    display: inline-block;
    margin: 0em;
}

p.info {
    font-size: 0.7em;
    font-style: italic;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}